In [23]:
#https://docs.featuretools.com/en/stable/getting_started/install.html
!python -m pip install featuretools

Requirement already satisfied: featuretools in /content/featuretools (0.18.1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.18.5)
Requirement already satisfied: pandas<2.0.0,>=0.24.1 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.0.5)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (4.41.1)
Requirement already satisfied: pyyaml>=3.12 in /usr/local/lib/python3.6/dist-packages (from featuretools) (3.13)
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.3.0)
Collecting distributed>=2.12.0
  Downloading https://files.pythonhosted.org/packages/df/a1/209d940a575406fb3adfd03e4b7191afa09aad2bc061bfd9c300a6c9c811/distributed-2.23.0-py3-none-any.whl (650kB)
     |████████████████████████████████| 655kB 2.5MB/s
Requirement already satisfied: dask[dataframe]>=2.12.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (2.12.0)
Requirement already satisfied: psutil>=5.4.8 in /usr/local/lib/python3.6/dist-packages (from featuretools) (5.4.8)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (7.1.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=0.24.1->featuretools) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=0.24.1->featuretools) (2018.9)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.0.0)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (5.1.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.2.2)
Requirement already satisfied: contextvars; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages/contextvars-2.4-py3.6.egg (from distributed>=2.12.0->featuretools) (2.4)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (49.2.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (0.10.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.7.0)
Requirement already satisfied: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]>=2.12.0->featuretools) (0.8.0)
Requirement already satisfied: partd>=0.3.10; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages/partd-1.1.0-py3.6.egg (from dask[dataframe]>=2.12.0->featuretools) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas<2.0.0,>=0.24.1->featuretools) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.12.0->featuretools) (1.0.1)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 4.8MB/s
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=df2ed76599fe7ea696554f5a97a2882d19ad0aa10e07afd22463284700f6d4d9
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built locket
ERROR: distributed 2.23.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
Installing collected packages: distributed, immutables, locket
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed distributed-2.23.0 immutables-0.14 locket-0.2.0

In [24]:
!pip install graphviz

Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (0.10.1)

In [25]:
!git clone https://github.com/FeatureLabs/featuretools.git

fatal: destination path 'featuretools' already exists and is not an empty directory.

In [26]:
cd featuretools

/content/featuretools/featuretools

In [27]:
!python setup.py install

python3: can't open file 'setup.py': [Errno 2] No such file or directory

In [28]:
import featuretools as ft
data = ft.demo.load_mock_customer()
customers_df = data["customers"]
customers_df

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28

In [29]:
sessions_df = data["sessions"]
transactions_df = data["transactions"]

In [30]:
 #Dictonary with all three entities
 entities = {"customers" : (customers_df, "customer_id"),
             "sessions" : (sessions_df, "session_id", "session_start"),
             "transactions" : (transactions_df, "transaction_id", "transaction_time")}

In [31]:
#relationships between entities
relationships = [("sessions", "session_id", "transactions", "session_id"),("customers", "customer_id", "sessions", "customer_id")]

In [32]:
feature_matrix_customers, features_defs = ft.dfs(entities=entities,relationships=relationships,target_entity="customers")

In [33]:
#automated slicing and dicing
feature_matrix_customers

            zip_code  ...  MODE(transactions.sessions.device)
customer_id           ...
1              60091  ...                              mobile
2              13244  ...                             desktop
3              13244  ...                             desktop
4              60091  ...                              mobile
5              60091  ...                              mobile

[5 rows x 77 columns]

In [34]:
#featuretools.save_features() to save a list features to a json file
ft.save_features(features_defs, "feature_definitions.json")